doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      body {
        background-color: #3c3c3c;
        color: #ffffff;
        font-family: Arial, sans-serif;
        padding: 20px;
      }

      .container {
        background-color: #3c3c3c;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        max-width: 80%;
        padding: 20px;
      }

      .header {
        background-color: #e1bf57;
        border-radius: 8px 8px 0 0;
        color: #ffffff;
        padding: 20px;
        text-align: center;
      }

      .content {
        font-size: 21px;
        padding: 20px;
      }   

      a {
        color: #fff;
        text-decoration: none;
        list-style:none;
        font-weight:600;
      }

      .button {
        background-color: #e1bf57;
        border: none;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
      }

      .footer {
        background-color: #3c3c3c;
        border-radius: 0 0 8px 8px;
        color: rgb(255, 255, 255);
        padding: 10px;
        text-align: center;
        font-size: 1.3em;
      }

      .footer span.white {
        color: #ffffff;
      }

      .footer span.it {
        color: #e1bf57;
        font-size: 1.2em;
      }

      .content {
        color: #ffffff;
      }

  body
    .container
      .header
        h1= `${heading}`
      .content
        div= `${content}`
        a.button(href=`${link}/${user}/${token}`)= `${anchor}`
      .footer
        p
          span.white © 2024 Udruga
          | &nbsp;
          span.it ed<span class="white">IT</span>
